=render 'shared/header', title: 'New password'
=render 'shared/errors', obj: @user

#center-form.contain
  h3 Password reset
  =form_for(@user, url: password_reset_path(params[:id])) do |f|

    =hidden_field_tag :email, @user.email

    .input
      =f.label :password
      =f.password_field :password, class: 'form-control'
    .input
      =f.label :password_confirmation, 'Confirmation'
      =f.password_field :password_confirmation, class: 'form-control'

    =f.submit 'Update password', class: 'btn btn-success'
