=render 'shared/header', title: 'Categories'

-if logged_in? && (params[:offset].nil? || params[:offset] == '0')
  =render @user_subs

=render @categories

=render 'shared/pagination', page_count: Category::PER_PAGE, url: categories_path
