=render 'shared/header', title: @category.name

aside#category
  =render 'subscribe', category: @category
  -if logged_in? && current_user.verified
    =render 'questions/form'

#category-questions
  =render @questions
  -if @questions.any?
    =render 'shared/pagination', page_count: Question::PER_PAGE, url: category_path(@category)
